Repository gardener/machine-controller-manager-provider-aws, pull requests merged in 2021-02, with the labels that each got.

#21 Reintroduces support for multi volume support for EC2 instances
  pkg/aws/apis/aws_provider_spec.go
  pkg/aws/apis/validation/validation.go
  pkg/aws/apis/validation/validation_test.go
  pkg/aws/core.go
  pkg/aws/core_test.go
  pkg/aws/core_util.go
Labels: needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, priority/blocker, size/xl

#23 Vendor machine-controller-manager@v0.37.0
  go.mod
  go.sum
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/app/app.go
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/drain/drain.go
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/driver/fake.go
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machinecontroller/controller.go
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machinecontroller/machine_safety.go
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machinecontroller/machine_util.go
  vendor/modules.txt
Labels: needs/ok-to-test

#26 Allow deletion of machine whose providerID is empty
  pkg/aws/core.go
  pkg/aws/core_test.go
  pkg/aws/core_util.go
  pkg/aws/util.go
  pkg/mockclient/mockclient.go
Labels: needs/ok-to-test, needs/review, size/m

#27 Delete machine whose providerID is empty
  pkg/aws/core.go
  pkg/aws/core_test.go
  pkg/aws/core_util.go
  pkg/aws/util.go
  pkg/mockclient/mockclient.go
Labels: needs/review, reviewed/ok-to-test, size/m
