Repository gardener/machine-controller-manager-provider-aws, pull requests merged in 2023-12, with the labels that each got.

#140 Update testmachinery image location
  .ci/pipeline_definitions
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#141 switch GCR -> Artifact-Registry
  .ci/pipeline_definitions
  .test-defs/IntegrationTest.yaml
  Makefile
  kubernetes/deployment.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#138 Testing new functions in IT Pipeline
  .ci/pipeline_integration_test
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m
