Repository gardener/machine-controller-manager-provider-aws, pull requests merged in 2025-02, with the labels that each got.

#184 Update `pipeline_integration_tests` to run tests on a control cluster
  .ci/local_integration_test
  .ci/pipeline_integration_test
  MCM_VERSION
  go.mod
  go.sum
Labels: needs/ok-to-test, needs/review, size/m

#177 [GEP-26] Add support for workload identity
  pkg/aws/apis/validation/validation.go
  pkg/aws/apis/validation/validation_test.go
  pkg/spi/aws.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#186 Adapt pipeline_definitions to include SAST linting logs in OCM descriptor
  .ci/check
  .ci/pipeline_definitions
  Makefile
  hack/sast.sh
Labels: needs/ok-to-test, needs/review, size/xs

#182 Fix: install ginkgo if not available during integration tests
  .ci/local_integration_test
  .ci/pipeline_integration_test
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#183 Added `verify` make target
  .ci/verify
  Makefile
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
